<div class="container-fluid">
  <div class="row no-gutters shadow-lg">
    <div class="col-md-6 d-none d-md-block">
      <img
        src="assets/images/signin.jpg"
        class="img-fluid"
        style="min-height: 100%"
      />
    </div>
    <div class="col-md-6 bg-white p-5 d-flex align-items-center">
      <div class="">
        <div class="text-center">
          <div class="brand-wrapper">
            <img src="assets/images/logo.png" alt="logo" class="logo" />
          </div>
        </div>
        <form class="validate-form" [formGroup]="loginForm">
          <div class="row">
            <div class="col-lg-9 col-md-8 col-xs-12">
              <div class="form-group position-relative">
                <label>Mobile Number <span class="text-danger">*</span></label>
                <i-feather name="user" class="login-icons"></i-feather>
                <div class="input-container">
                  <input
                    type="text"
                    class="form-control psl-5"
                    formControlName="mobile_number"
                    placeholder="Mobile number"
                    pattern="[0-9]{10}"
                  />
                  <small
                    *ngIf="f['mobile_number'].hasError('pattern')"
                    class="text-danger"
                  >
                    Please enter a valid 10-digit numeric value.
                  </small>
                  <small
                    *ngIf="(submitted && loginForm.controls['mobile_number'].errors?.['required'])"
                    class="text-danger"
                  >
                    Mobile Number is required.
                  </small>
                  <small
                    *ngIf="submitted && loginForm.controls['mobile_number'].errors?.['minlength']"
                    class="text-danger"
                  >
                    Mobile number must be at least 10 digits.
                  </small>
                  <small
                    *ngIf="submitted && loginForm.controls['mobile_number'].errors?.['maxlength']"
                    class="text-danger"
                  >
                    Mobile number cannot exceed 10 digits.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-12 d-flex align-items-center">
              <button
                *ngIf="getOtp === true"
                (click)="startTimer()"
                class="btn btn-primary fill_available"
              >
                Get OTP
              </button>
              <button
                class="btn btn-primary fill_available"
                *ngIf="displayTimer === true && getOtp === false"
              >
                {{ counter }}
              </button>
              <button
                class="btn btn-primary fill_available"
                *ngIf="showResentOtp === true"
                (click)="startTimer()"
              >
                Resend OTP
              </button>
            </div>

            <div class="col-lg-12">
              <div class="form-group position-relative">
                <label>OTP<span class="text-danger">*</span></label>
                <i-feather name="key" class="login-icons"></i-feather>
                <input
                  type="text"
                  class="form-control psl-5"
                  formControlName="otp"
                  placeholder="Enter OTP"
                  pattern="[0-9]{4}"
                />
                <small *ngIf="f['otp'].hasError('pattern')" class="text-danger">
                  Please enter a valid 4-digit numeric value.
                </small>
                <small
                  *ngIf="submitted && loginForm.controls['otp'].errors?.['required']"
                  class="text-danger"
                >
                  otp is required.
                </small>
                <small
                  *ngIf="submitted && loginForm.controls['otp'].errors?.['minlength']"
                  class="text-danger"
                >
                  OTP must be at least 4 digits.
                </small>
                <small
                  *ngIf="submitted && loginForm.controls['otp'].errors?.['maxlength']"
                  class="text-danger"
                >
                  OTP cannot exceed 4 digits.
                </small>
              </div>
            </div>

            <div *ngIf="error" class="alert alert-danger mb-3 msl-3">
              {{ error }}
            </div>
            <div class="col-lg-12 mb-0">
              <button
                class="btn btn-primary auth-form-btn"
                (click)="onSubmit()"
              >
                Sign in
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
