.viewResume {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  line-height: 1.75;
  border-radius: 4px;
  color: rgb(31, 130, 104);
  min-width: max-content;
  /* font-family: In ter; */
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  box-shadow: none;
  letter-spacing: normal;
  text-transform: none;
  height: 32px;
  padding: 0px 16px;
  float: right;
  padding-right: 16px;
  padding-left: 16px;
}

.w-35 {
  width: 35%;
}
.b-r-10 {
  border-radius: 10px;
}
.btn.btn-outlines {
  border: 1px solid #ccc;
}
