<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Jobs</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/jobs"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">New job</li>
  </ul>
  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4>Vertical Tab</h4>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <ul
            ngbNav
            #nav5="ngbNav"
            [(activeId)]="active"
            class="nav-pills"
            orientation="vertical"
          >
            <li ngbNavItem="jobDetail">
              <a ngbNavLink>Job Detail</a>
              <ng-template ngbNavContent>
                <form [formGroup]="postNewJobs">
                  <div id="test-l-1" class="content">
                    <div class="row mt-3">
                      <div class="col-md-12">
                        <h6>Job details</h6>
                        <p>
                          Job details We use this information to find the best
                          candidates for the job.
                        </p>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="form-group col-md-6">
                        <label
                          >Company you're hiring for
                          <span class="text-danger">*</span></label
                        >
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Company name"
                          formControlName="company_name"
                          required
                        />
                        <small
                          class="form-text text-danger"
                          *ngIf="
                            !postNewJobs.get('company_name')?.valid &&
                            postNewJobs.get('company_name')?.touched
                          "
                          >Please enter a company name!</small
                        >
                      </div>
                      <div class="form-group col-md-6">
                        <label
                          >Job title / Designation
                          <span class="text-danger">*</span>
                        </label>

                        <select class="form-select form-control">
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                        </select>
                      </div>

                      <div class="form-group col-md-6">
                        <label
                          >Department / Function
                          <span class="text-danger">*</span></label
                        >
                        <select
                          class="form-select form-control"
                          formControlName="department"
                        >
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                        </select>
                        <small
                          class="form-text text-danger"
                          *ngIf="
                            !postNewJobs.get('department')?.valid &&
                            postNewJobs.get('department')?.touched
                          "
                          >Please enter a Department !</small
                        >
                      </div>
                      <div class="form-group col-md-6">
                        <label>Role<span class="text-danger">*</span></label>
                        <select class="form-select form-control">
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label
                          >Type of Job <span class="text-danger">*</span></label
                        >
                        <div class="input-group">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="rbbuttons1"
                              id="rb1"
                              checked
                            />
                            <label class="form-check-label" for="rb1">
                              Full Time
                            </label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="rbbuttons1"
                              id="rb2"
                            />
                            <label class="form-check-label" for="rb2">
                              Part Time
                            </label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="rbbuttons1"
                              id="rb3"
                            />
                            <label class="form-check-label" for="rb3">
                              Both (Full Time & Part Time)
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="cb6"
                            formControlName="nightShift"
                          />
                          <label class="form-check-label" for="cb6">
                            This is a night shift job
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row mt-3">
                      <div class="col-lg-12">
                        <h6>Location</h6>
                        <p>
                          Let candidates know where they will be working from.
                        </p>
                      </div>
                      <div class="form-group col-md-6">
                        <label
                          >Work location type
                          <span class="text-danger">*</span></label
                        >
                        <div class="input-group">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              formControlName="work_location"
                              name="work_location"
                              id="rb4"
                              value="Work From Office"
                              (change)="onRadioChange()"
                            />
                            <label class="form-check-label" for="rb4">
                              Work From Office
                            </label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="work_location"
                              formControlName="work_location"
                              id="rb5"
                              value="Work From Home"
                              (change)="onRadioChange()"
                            />
                            <label class="form-check-label" for="rb5">
                              Work From Home
                            </label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              formControlName="work_location"
                              name="work_location"
                              id="rb6"
                              value="Field Job"
                              (change)="onRadioChange()"
                            />
                            <label class="form-check-label" for="rb6">
                              Field Job
                            </label>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="displayOfficeLocation === true">
                        <div class="form-group col-md-6">
                          <label
                            >City
                            <span class="text-danger">*</span>
                          </label>

                          <select class="form-select form-control">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                          </select>
                        </div>
                        <div class="form-group col-md-6">
                          <label
                            >Office address / landmark
                            <span class="text-danger">*</span>
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="min_salary"
                            required
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label
                            >Add Floor / Plot no. / Shop no. (optional)
                          </label>

                          <input
                            type="text"
                            class="form-control"
                            formControlName="plot_number"
                            required
                          />
                        </div>
                      </div>
                      <div *ngIf="displayHomeLocation === true">
                        <div class="form-group col-md-12">
                          <label
                            >Receive applications from
                            <span class="text-danger">*</span></label
                          >
                          <div class="input-group">
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                type="radio"
                                name="wfh_change"
                                formControlName="wfh_change"
                                value="Specific city"
                                (change)="WFHChange()"
                                id="rb10"
                              />
                              <label class="form-check-label" for="rb10">
                                Specific city
                              </label>
                            </div>
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                type="radio"
                                name="wfh_change"
                                formControlName="wfh_change"
                                value="Anywhere"
                                (change)="WFHChange()"
                                id="rb11"
                              />
                              <label class="form-check-label" for="rb11">
                                Anywhere in India
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="specificCity === true">
                        <div class="form-group col-md-6">
                          <label
                            >City
                            <span class="text-danger">*</span>
                          </label>

                          <select class="form-select form-control">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                          </select>
                        </div>
                      </div>
                      <div *ngIf="displayFieldJob === true">
                        <div class="form-group col-md-6">
                          <label
                            >Which area will the candidates be working in ?
                            <span class="text-danger">*</span>
                          </label>

                          <select class="form-select form-control">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row mt-3">
                      <div class="col-lg-12">
                        <h6>Compensation</h6>
                        <p>
                          Job postings with right salary & incentives will help
                          you find the right candidates.
                        </p>
                      </div>
                      <div class="form-group col-md-12">
                        <label
                          >What is the pay type?
                          <span class="text-danger">*</span></label
                        >
                        <div class="input-group">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              id="rb7"
                              formControlName="salaryType"
                              name="salaryType"
                              value="fixed_only"
                              (change)="onSalaryChange()"
                            />
                            <label class="form-check-label" for="rb7">
                              Fixed Only
                            </label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              formControlName="salaryType"
                              value="fixed_incentive"
                              name="salaryType"
                              (change)="onSalaryChange()"
                              id="rb8"
                            />
                            <label class="form-check-label" for="rb8">
                              Fixed + Incentive
                            </label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              value="incentive_only"
                              formControlName="salaryType"
                              name="salaryType"
                              (change)="onSalaryChange()"
                              id="rb9"
                            />
                            <label class="form-check-label" for="rb9">
                              Incentive Only
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <label
                          >Fixed salary / month
                          <span class="text-danger">*</span></label
                        >
                        <div
                          class="col-md-6"
                          *ngIf="displayFixed || displayFixedIncentive"
                        >
                          <div class="row">
                            <div class="col-md-6">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Minimum field salary"
                                formControlName="min_salary"
                                required
                              />
                            </div>
                            <div class="col-md-6">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Maximum field salary"
                                formControlName="max_salary"
                                required
                              />
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-md-6"
                          *ngIf="displayIncentive || displayFixedIncentive"
                        >
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Incentive"
                            formControlName="incentive"
                            required
                          />
                        </div>
                      </div>
                      <div
                        class="row"
                        id="salaryPreviewBox"
                        *ngIf="salaryPreview"
                      >
                        <div class="col-lg-12 salaryPreviewBox">
                          <table>
                            <tbody>
                              <tr>
                                <td colspan="2">
                                  <h5>Salary breakup shown to candidates</h5>
                                </td>
                                <td></td>
                              </tr>
                              <tr></tr>
                              <tr>
                                <td><h6>Fixed Salary / Month</h6></td>
                                <td></td>
                                <td>
                                  <h6 id="fixed_salary_disp">₹ 0 - ₹ 0</h6>
                                </td>
                                <td></td>
                              </tr>
                              <tr></tr>
                              <tr>
                                <td><h6>Average Incentive / Month</h6></td>
                                <td></td>
                                <td><h6 id="fixed_incentive_disp">₹ 0</h6></td>
                                <td></td>
                              </tr>
                              <tr></tr>
                              <tr>
                                <td><h6>Earning Potential / Month</h6></td>
                                <td></td>
                                <td><h6 id="salary_total">₹ 0 - ₹ 0</h6></td>
                                <td></td>
                              </tr>
                              <tr></tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6">
                        <label
                          >Do you offer any additional perks ? (Ex: Flexible
                          Working Hours, Overtime Pay)</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="over_time"
                        />
                      </div>
                      <div class="form-group col-md-6">
                        <label
                          >Is there any joining fee or deposit required from the
                          candidate?</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="joining_fee"
                        />
                      </div>
                      <div class="form-group col-md-12">
                        <textarea
                          type="textarea"
                          class="form-control"
                          placeholder="comments"
                          formControlName="comment"
                        ></textarea>
                      </div>
                    </div>

                    <button (click)="next()" class="btn btn-primary">
                      Next
                    </button>
                  </div>
                </form>
              </ng-template>
            </li>
            <li ngbNavItem="candidateRequirements">
              <a ngbNavLink>Candidate Requirements </a>
              <ng-template ngbNavContent>
                <p>content2</p>
                <button (click)="next2()" class="btn btn-primary">Next</button>
              </ng-template>
            </li>
            <li ngbNavItem="interviewerInformation">
              <a ngbNavLink>Interviewer Information </a>
              <ng-template ngbNavContent>
                <p>content3</p>
                <button (click)="next3()" class="btn btn-primary">Next</button>
              </ng-template>
            </li>
            <li ngbNavItem="jobPreview">
              <a ngbNavLink>Job Preview </a>
              <ng-template ngbNavContent>
                <p>content3</p>
                <button (click)="next4()" class="btn btn-primary">Next</button>
              </ng-template>
            </li>
            <li ngbNavItem="selectPlan">
              <a ngbNavLink>Select Plan </a>
              <ng-template ngbNavContent>
                <p>content3</p>
                <button (click)="submit()" class="btn btn-primary">
                  Submit
                </button>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav5" class="msl-4"></div>
        </div>
      </div>
    </div>
  </div>
</section>
