.bs-stepper .step-trigger {
  padding: 0px;
}
.bs-stepper-content {
  padding: 1em;
}
.dropdown-divider {
  border: 1px solid #f9f9f9 !important;
}
.dropdown-divider {
  height: 0;
  margin: var(--bs-dropdown-divider-margin-y) 0;
  overflow: hidden;
  opacity: 1;
}
.salaryPreviewBox {
  margin: 2.5em 1em;
  background: #d9e9f4;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #b3bcc1;
  h5,
  h6 {
    font-weight: unset;
  }
  h6 {
    color: #495057;
    font-size: 14px;
  }
}
.preview_list {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 100%;
  display: block;
  margin-bottom: 15px;
  list-style-type: none;
}
.preview_list li:first-child {
  width: 200px;
}
.preview_list li {
  float: left;
}
.preview_list li label {
  color: #756c6c;
  font-weight: normal;
}

@media only screen and (max-width: 778px) {
  div#test-l-5 .card-body {
    padding: 0;
  }
  .bs-stepper-header {
    display: block;
    align-items: center;
  }
}
