.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.navbar {
  background-color: transparent;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.875rem;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}
.navbar .nav-link {
  color: #ccc;
  padding-left: 12px !important;
  padding-right: 12px !important;
  height: 100%;
}
