<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h6>About Us</h6>
        <p class="p-small">
          The best platform to hire the right candidates Lorem Ipsum is simply
          dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an
          unknown printer took a galley of type and scrambled it to make a type
          specimen book. It has survived not only five centuries, but also the
          leap into electronic typesetting, remaining essentially unchanged.
        </p>
      </div>
      <!-- end of footer-col -->
      <div class="col-md-4">
        <h6>Links</h6>
        <ul class="list-unstyled li-space-lg p-small">
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>
          <li>Contact Us</li>
        </ul>
      </div>
      <!-- end of footer-col -->
      <div class="col-md-3">
        <span class="fa-stack">
          <a href="https://www.facebook.com/nprotechnologies" target="_blank">
            <i class="fab fa-facebook-f fa-stack-1x"></i>
          </a>
        </span>
        <span class="fa-stack">
          <a href="https://twitter.com/nprotechblr?lang=en" target="_blank">
            <i class="fab fa-twitter fa-stack-1x"></i>
          </a>
        </span>
        <span class="fa-stack">
          <a
            href="https://api.whatsapp.com/send?phone=919791259541"
            target="_blank"
          >
            <i class="fab fa-whatsapp fa-stack-1x"></i>
          </a>
        </span>
        <span class="fa-stack">
          <a
            href="https://www.instagram.com/npro.technologies/"
            target="_blank"
          >
            <i class="fab fa-instagram fa-stack-1x"></i>
          </a>
        </span>
        <p class="p-small">
          We would love to hear from you
          <a href="mailto:info@seekk.in"><strong>info@seekk.in</strong></a>
        </p>
      </div>
      <!-- end of footer-col -->

      <!-- end of col -->
    </div>
    <!-- end of row -->

    <!-- <div class="follow_partners">
      <div>
        <div class="title">FOLLOW US ON</div>
        <div class="social_media">
          <a
            href="https://twitter.com/Seekksolutions?ref=xyz-un-Website"
            rel="noreferrer"
            target="_blank"
            ><div class="social_media_icon">
              <img
                alt="Follow us on Twiiter"
                title="Seekk Twitter Page"
                src="https://storage.googleapis.com/Seekkjobs_website/compressedv2/compressedPng/twitter.png"
              /></div></a
          ><a
            href="https://www.facebook.com/Seekksolutions?ref=xyz-un-Website"
            rel="noreferrer"
            target="_blank"
            ><div class="social_media_icon">
              <img
                alt="Follow us on Facebook"
                title="Seekk Facebook Page"
                src="https://storage.googleapis.com/Seekkjobs_website/compressedv2/compressedPng/facebook.png"
              /></div></a
          ><a
            href="https://in.linkedin.com/company/Seekksolutions"
            rel="noreferrer"
            target="_blank"
            ><div class="social_media_icon">
              <img
                alt="Follow us on Linkedin"
                title="Seekk LinkedIn Page"
                src="https://storage.googleapis.com/Seekkjobs_website/compressedv2/compressedPng/linked_in.png"
              /></div></a
          ><a
            href="https://www.youtube.com/channel/UC1YIN8tWg-sCc6m1wR9bNkQ?ref=xyz-un-Website"
            rel="noreferrer"
            target="_blank"
            ><div class="social_media_icon">
              <img
                alt="Follow us on Youtube"
                title="Seekk Youtube Page"
                src="https://storage.googleapis.com/Seekkjobs_website/compressedv2/compressedPng/youtube.png"
              /></div></a
          ><a
            href="https://www.instagram.com/Seekkapp/"
            rel="noreferrer"
            target="_blank"
            ><div class="social_media_icon">
              <img
                alt="Follow us on Instagram"
                title="Seekk Instagram Page"
                src="https://storage.googleapis.com/Seekkjobs_website/compressedv2/component_images/instagram.png"
              /></div
          ></a>
        </div>
      </div>
      <div class="container-row-col">
        <div class="social_media">
          <a
            href="https://twitter.com/Seekksolutions?ref=xyz-un-Website"
            rel="noreferrer"
            target="_blank"
            ><div class="social_media_icon">
              <img
                alt="Follow us on Twiiter"
                title="Seekk Twitter Page"
              /></div></a
          ><a
            href="https://www.facebook.com/Seekksolutions?ref=xyz-un-Website"
            rel="noreferrer"
            target="_blank"
            ><div class="social_media_icon">
              <img
                alt="Follow us on Facebook"
                title="Seekk Facebook Page"
              /></div></a
          ><a
            href="https://in.linkedin.com/company/Seekksolutions"
            rel="noreferrer"
            target="_blank"
            ><div class="social_media_icon">
              <img
                alt="Follow us on Linkedin"
                title="Seekk LinkedIn Page"
              /></div></a
          ><a
            href="https://www.youtube.com/channel/UC1YIN8tWg-sCc6m1wR9bNkQ?ref=xyz-un-Website"
            rel="noreferrer"
            target="_blank"
            ><div class="social_media_icon">
              <img
                alt="Follow us on Youtube"
                title="Seekk Youtube Page"
              /></div></a
          ><a
            href="https://www.instagram.com/Seekkapp/"
            rel="noreferrer"
            target="_blank"
            ><div class="social_media_icon">
              <img
                alt="Follow us on Instagram"
                title="Seekk Instagram Page"
              /></div
          ></a>
        </div>
        <a
          target="_blank"
          rel="noreferrer"
          class="footer_link"
          href="https://z2y3u.app.goo.gl/25ee?src=site_hp_footer"
          ><div class="download">
            <div class="download_app_image_button">
              <div class="download_app_image_container">
                <img
                  alt="Seekk - Search Jobs"
                  title="Seekk - Search Jobs"
                  class="download_app_image"
                  src="https://storage.googleapis.com/Seekkjobs_website/compressedv2/footer/goggle_play_badge.svg"
                />
              </div>
            </div></div
        ></a>
      </div>
    </div> -->
  </div>
  <!-- end of container -->
</div>
<!-- end of footer -->
<!-- end of footer -->
<!-- Copyright -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="p-small">Copyright © <a href="#your-link">Seekk</a></p>
      </div>
      <!-- end of col -->
      <!-- <div class="col-lg-12">
        <p class="p-small">
          Distributed By:
          <a href="#" target="_blank">Seekk</a>
        </p>
      </div> -->
      <!-- end of col -->
    </div>
    <!-- enf of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of copyright -->
<!-- end of copyright -->
