<app-landing-header></app-landing-header>
<div class="landingPage">
  <!-- Header -->
  <header id="header" class="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Text Slider -->
          <div class="slider-container">
            <div class="swiper-container text-slider">
              <div class="swiper-wrapper">
                <!-- Slide -->
                <div class="swiper-slide">
                  <div class="row">
                    <div class="col-lg-6 col-xl-7">
                      <div class="image-container">
                        <!-- <img
                          class="img-fluid"
                          src="../../../assets/images/header-slide-1.jpg"
                          alt="alternative"
                        /> -->
                      </div>
                      <!-- end of image-container -->
                    </div>
                    <!-- end of col -->
                    <div class="col-lg-0 col-xl-">
                      <div class="text-container">
                        <h1 class="h1-large">Find Your Dream Job now</h1>
                        <br />
                        <br />
                        <div class="search-bar">
                          <div class="search-section">
                            <input
                              type="text"
                              class="search-input"
                              placeholder="Enter Your Skill/Desgination"
                            />
                          </div>
                          <div class="dropdown-section">
                            <select class="dropdown">
                              <option value="option1">Select Experience</option>
                              <option value="option2">Option 2</option>
                              <option value="option3">Option 3</option>
                            </select>
                          </div>

                          <span class="input-group-addon"
                            ><input
                              type="submit"
                              value="Search"
                              class="btn btn-primary"
                          /></span>
                        </div>

                        <!-- <p class="p-large">
                        The first desktop app for web designers. Create
                        beautiful websites with minimum HTML/CSS
                      </p> -->
                        <!-- <ul>
                          <li>
                            Post a Job for free and find staff for your business
                            at lowest cost.
                          </li>
                          <li>
                            Connect with 5 top-ranked candidates instantly for
                            FREE!
                          </li>
                          <li>
                            Connect with over more than 4M+ qualified candidates
                            on Seekk.
                          </li>
                          <li>
                            Get guaranteed responses from our top-ranked
                            candidates in just 24 hours.
                          </li>
                          <li>
                            Connect, Shortlist, Hire or Reject Candidates easily
                            through our all-in-one ATS for free.
                          </li>
                        </ul> -->
                        <!-- <a class="btn-solid-lg page-scroll">SignUp</a> -->
                      </div>
                      <!-- end of text-container -->
                    </div>
                    <!-- end of col -->
                  </div>
                  <!-- end of row -->
                </div>
                <!-- end of swiper-slide -->
              </div>
              <!-- end of swiper-wrapper -->

              <!-- Add Arrows -->
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
              <!-- end of add arrows -->
            </div>
            <!-- end of swiper-container -->
          </div>
          <!-- end of slider-container -->
          <!-- end of text slider -->
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->

      <!-- end of row -->
    </div>
    <!-- end of container -->
  </header>
  <!-- end of header -->
  <!-- Features -->
  <div id="features" class="cards-1 bg-dark-blue">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-container">
            <h1 class="h1-large">Find Your Dream Job now</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
              gravida quam sed dolor commodo venenatis. Aliquam sed ligula in
              enim euismod ultrices eu eu est. Nunc nec nibh dui. Aliquam et est
              sagittis, venenatis ante quis, tristique ante. Aliquam
              sollicitudin lacus commodo, ornare nulla eget, tempus urna.
              Curabitur non pretium augue. Vestibulum eu turpis ut urna mollis
              gravida vel id lacus. Nunc consequat semper scelerisque. Aliquam
              ornare nisi ante, eu porttitor metus blandit a. Orci varius
              natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus mus. Morbi vehicula lacus sit amet nisi tincidunt
              vehicula. Donec porttitor augue quam. Sed ac turpis luctus,
              ultricies sem ac, porttitor ipsum. Mauris ac tempor sem, varius
              posuere enim. Sed elementum posuere tortor vitae congue. Nam
              mollis congue augue, at aliquam dolor blandit quis. Nulla rhoncus
              aliquet mi aliquet tempor.
            </p>
            <br />
          </div>
          <br />

          <!-- <h2 class="h2-heading">Seekk's Features</h2>
          <p class="p-heading">
            Revo is the first desktop app which helps web designers and
            developers create beautiful and efficient layouts for their online
            projects
          </p> -->
        </div>
        <!-- end of div -->
      </div>
      <!-- end of row -->
      <div class="row">
        <div class="col-lg-12">
          <div>
            <img
              cImg
              fluid
              src="../../../assets/images/banner1.png"
              height="500px"
              width="1300px"
            />
          </div>

          <!-- Card -->
          <!-- <div class="card">
            <div class="card-image">
              <i class="fas fa-rocket"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Prototype Faster</h5>
              <p>
                Cutting edge tools that will help you sketch your ideas in
                record time and prepare the design
              </p>
            </div>
          </div> -->
          <!-- end of card -->

          <!-- Card -->
          <!-- <div class="card">
            <div class="card-image">
              <i class="fas fa-tv"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Design Layouts</h5>
              <p>
                Turn your prototypes into final designs using established and
                well-known features
              </p>
            </div>
          </div> -->
          <!-- end of card -->

          <!-- Card -->
          <!-- <div class="card">
            <div class="card-image">
              <i class="fas fa-user-tag"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Export To Code</h5>
              <p>
                When you're done designing export your layouts quickly to
                editable HTML/CSS code
              </p>
            </div>
          </div> -->
          <!-- end of card -->
        </div>
        <!-- end of col -->
      </div>
      <br />

      <!-- end of row -->
    </div>
    <!-- end of container -->
  </div>
  <!-- end of cards-1 -->
  <!-- end of features -->
  <div id="grabNext" class="container">
    <div class="container mt-5 mb-5">
      <h1>Our RPO Services</h1>
      <br />

      <div class="row g-2">
        <div class="col-md-4">
          <div class="text-center">
            <div class="user-content">
              <div class="icon">
                <i class="fa-solid fa-user fa-2xl"></i>
              </div>
              <br />
              <h5 class="mb-0">Sourcing and Screening</h5>
              <br />

              <p>
                Utilizing innovative sourcing strategies, we identify and engage
                with qualified candidates, conducting thorough screenings to
                present you with the best-suited individuals.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="text-center px-4">
            <div class="user-content">
              <div class="icon">
                <i class="fa-solid fa-network-wired fa-2xl"></i>
              </div>
              <br />
              <h5 class="mb-0">Talent Acquisition</h5>
              <br />

              <p>
                Our team manages the complete talent acquisition cycle, from
                initial contact through onboarding, ensuring a smooth and
                efficient process.
              </p>
              <br />
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="text-center px-4">
            <div class="user-content">
              <div class="icon">
                <i class="fa-solid fa-circle-user fa-2xl"></i>
              </div>
              <br />
              <h5 class="mb-0">Employer Branding</h5>
              <br />

              <p>
                We assist in crafting and enhancing your employer brand to
                attract top talent, leveraging various platforms and strategies
                to showcase your organization as an employer of choice.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <div class="user-content">
            <div class="icon">
              <i class="fa-solid fa-chart-line fa-2xl"></i>
            </div>
            <br />
            <h5 class="mb-0">Metrics and Analytics</h5>
            <br />

            <p>
              We provide comprehensive metrics and analytics, offering insights
              into recruitment performance, allowing for continuous optimization
              and improvement.
            </p>
            <br />
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5 mb-5">
      <h1>Why Choose Us?</h1>
      <br />
      <div class="row g-2">
        <div class="col-md-4">
          <div class="text-center px-4">
            <div class="user-content">
              <div class="icon">
                <i class="fa-solid fa-person-walking fa-2xl"></i>
              </div>
              <br />

              <h5 class="mb-0">Expertise</h5>
              <br />

              <p>
                Our seasoned team of recruitment professionals possesses a deep
                understanding of diverse industries, enabling us to identify and
                engage top-tier talent across various domains
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="text-center px-4">
            <div class="user-content">
              <div class="icon">
                <i class="fa-solid fa-gears fa-2xl"></i>
              </div>
              <br />
              <h5 class="mb-0">Customized Solutions</h5>
              <br />

              <p>
                We recognize that each organization has distinct hiring needs.
                Our flexible RPO solutions are designed to adapt to your
                specific requirements, whether you need end-to-end recruitment
                support or assistance with specific stages of the hiring
                process.
              </p>
              <br />
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="text-center px-4">
            <div class="user-content">
              <div class="icon">
                <i class="fa-solid fa-layer-group fa-2xl"></i>
              </div>
              <br />
              <h5 class="mb-0">Cutting-Edge Technology</h5>
              <br />

              <p>
                We assist in crafting and enhancing your employer brand to
                attract top talent, leveraging various platforms and strategies
                to showcase your organization as an employer of choice.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="fold-7__container fold-container">
      <div class="fold-7__box text-center">
        <h3 class="fold-7__heading heading__secondary">
          Grab your next hire today!
        </h3>
        <div class="fold-7__sub-text heading__sub-text">
          Post your first job for
          <b>FREE</b> &amp; connect with the relevant candidates in minutes!
        </div>
        <div>
          <button class="fold-7__button fold-7__cta">Post a Job now</button>
        </div>
        <hr />
        <div class="fold-7__desc">
          <b>Have a question? We are here to help</b><br /><br />
          Call our Support
          <a href="tel:+91-9555852852">+91-9555852852</a>
          or
          <div class="contact-us">Contact Us</div>
        </div>
      </div>
    </div> -->
  </div>
  <div id="hiringSection" class="container mb-5">
    <div id="futureSection" class="container mb-5">
      <div class="row">
        <div class="col-lg-12">
          <div>
            <img
              cImg
              fluid
              src="../../../assets/images/banner2.png"
              height="500px"
              width="1350px"
            />
          </div>

          <!-- Card -->
          <!-- <div class="card">
            <div class="card-image">
              <i class="fas fa-rocket"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Prototype Faster</h5>
              <p>
                Cutting edge tools that will help you sketch your ideas in
                record time and prepare the design
              </p>
            </div>
          </div> -->
          <!-- end of card -->

          <!-- Card -->
          <!-- <div class="card">
            <div class="card-image">
              <i class="fas fa-tv"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Design Layouts</h5>
              <p>
                Turn your prototypes into final designs using established and
                well-known features
              </p>
            </div>
          </div> -->
          <!-- end of card -->

          <!-- Card -->
          <!-- <div class="card">
            <div class="card-image">
              <i class="fas fa-user-tag"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Export To Code</h5>
              <p>
                When you're done designing export your layouts quickly to
                editable HTML/CSS code
              </p>
            </div>
          </div> -->
          <!-- end of card -->
        </div>
        <!-- end of col -->
      </div>
      <!-- <div class="fold-5__box">
      <div class="fold-5__left">
        <div class="fold-5__left__container">
          <h3 class="fold-5__heading heading__secondary">
            Welcome to the Future of Attendance &amp; Payroll Management
          </h3>
          <div class="fold-5__sub-text heading__sub-text">
            <p>
              Experience how we transform Staff Attendance &amp; Payroll for
              business with a touch of a button.
            </p>
          </div>
          <button class="fold-5__button fold-5__cta" fdprocessedid="rfhr6l">
            Get Started
          </button>
        </div>
      </div>
      <div class="fold-5__right">
        <div class="fold-5__right__container">
          <img src="../../../assets/images/9.png" alt="Seekk" />
        </div>
      </div>
    </div> -->
    </div>
  </div>
  <app-landing-footer></app-landing-footer>
</div>
