<app-landing-header></app-landing-header>
<div class="landingPage">
  <!-- Header -->
  <header id="header" class="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Text Slider -->
          <div class="slider-container">
            <div class="swiper-container text-slider">
              <div class="swiper-wrapper">
                <!-- Slide -->
                <div class="swiper-slide">
                  <div class="row">
                    <div class="col-lg-6 col-xl-7">
                      <div class="image-container">
                        <img
                          class="img-fluid"
                          src="../../../assets/images/header-slide-1.jpg"
                          alt="alternative"
                        />
                      </div>
                      <!-- end of image-container -->
                    </div>
                    <!-- end of col -->
                    <div class="col-lg-6 col-xl-5">
                      <div class="text-container">
                        <h1 class="h1-large">
                          The best platform to hire the right candidates
                        </h1>
                        <!-- <p class="p-large">
                        The first desktop app for web designers. Create
                        beautiful websites with minimum HTML/CSS
                      </p> -->
                        <ul>
                          <li>
                            Post a Job for free and find staff for your business
                            at lowest cost.
                          </li>
                          <li>
                            Connect with 5 top-ranked candidates instantly for
                            FREE!
                          </li>
                          <li>
                            Connect with over more than 4M+ qualified candidates
                            on Seekk.
                          </li>
                          <li>
                            Get guaranteed responses from our top-ranked
                            candidates in just 24 hours.
                          </li>
                          <li>
                            Connect, Shortlist, Hire or Reject Candidates easily
                            through our all-in-one ATS for free.
                          </li>
                        </ul>
                        <a class="btn-solid-lg page-scroll">SignUp</a>
                      </div>
                      <!-- end of text-container -->
                    </div>
                    <!-- end of col -->
                  </div>
                  <!-- end of row -->
                </div>
                <!-- end of swiper-slide -->
              </div>
              <!-- end of swiper-wrapper -->

              <!-- Add Arrows -->
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
              <!-- end of add arrows -->
            </div>
            <!-- end of swiper-container -->
          </div>
          <!-- end of slider-container -->
          <!-- end of text slider -->
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="partner-container">
            <p class="p-small">Featured in</p>
            <img
              class="img-fluid"
              src="../../../assets/images/partner-logo-1.png"
              alt="alternative"
            />
            <img
              class="img-fluid"
              src="../../../assets/images/partner-logo-2.png"
              alt="alternative"
            />
            <img
              class="img-fluid"
              src="../../../assets/images/partner-logo-3.png"
              alt="alternative"
            />
            <img
              class="img-fluid"
              src="../../../assets/images/partner-logo-4.png"
              alt="alternative"
            />
            <img
              class="img-fluid"
              src="../../../assets/images/partner-logo-5.png"
              alt="alternative"
            />
          </div>
          <!-- end of partner-container -->
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container -->
  </header>
  <!-- end of header -->
  <!-- Features -->
  <div id="features" class="cards-1 bg-dark-blue">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="h2-heading">Seekk's Features</h2>
          <p class="p-heading">
            Revo is the first desktop app which helps web designers and
            developers create beautiful and efficient layouts for their online
            projects
          </p>
        </div>
        <!-- end of div -->
      </div>
      <!-- end of row -->
      <div class="row">
        <div class="col-lg-12">
          <!-- Card -->
          <div class="card">
            <div class="card-image">
              <i class="fas fa-rocket"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Prototype Faster</h5>
              <p>
                Cutting edge tools that will help you sketch your ideas in
                record time and prepare the design
              </p>
            </div>
          </div>
          <!-- end of card -->

          <!-- Card -->
          <div class="card">
            <div class="card-image">
              <i class="fas fa-tv"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Design Layouts</h5>
              <p>
                Turn your prototypes into final designs using established and
                well-known features
              </p>
            </div>
          </div>
          <!-- end of card -->

          <!-- Card -->
          <div class="card">
            <div class="card-image">
              <i class="fas fa-user-tag"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Export To Code</h5>
              <p>
                When you're done designing export your layouts quickly to
                editable HTML/CSS code
              </p>
            </div>
          </div>
          <!-- end of card -->
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container -->
  </div>
  <!-- end of cards-1 -->
  <!-- end of features -->
  <div id="grabNext" class="container">
    <div class="fold-7__container fold-container">
      <div class="fold-7__box text-center">
        <h3 class="fold-7__heading heading__secondary">
          Grab your next hire today!
        </h3>
        <div class="fold-7__sub-text heading__sub-text">
          Post your first job for
          <b>FREE</b> &amp; connect with the relevant candidates in minutes!
        </div>
        <div>
          <button class="fold-7__button fold-7__cta">Post a Job now</button>
        </div>
        <hr />
        <div class="fold-7__desc">
          <b>Have a question? We are here to help</b><br /><br />
          Call our Support
          <a href="tel:+91-9555852852">+91-9555852852</a>
          or
          <div class="contact-us">Contact Us</div>
        </div>
      </div>
    </div>
  </div>
  <div id="hiringSection" class="container mb-5">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Hiring Staff with Seekk</h3>
        <p>
          Seekk’s industry-leading hiring services right at your fingertips.
        </p>
      </div>
      <div class="col-lg-6">
        <div>
          <div class="box box-active">
            <img
              class="box__icon"
              alt="First content"
              src="../../../assets/images/01.svg"
            />
            <div class="box__details">
              <h4 class="box__title">AI-Screened Candidates.</h4>
              <div class="box__content">
                Our cutting edge AI technology will recommend you only the best
                candidates for your hiring.
              </div>
            </div>
          </div>
          <div class="box box-active">
            <img
              class="box__icon"
              alt="Second content"
              src="../../../assets/images/02.svg"
            />
            <div class="box__details">
              <h4 class="box__title">
                Get your Interviews scheduled in minutes!
              </h4>
              <div class="box__content">
                Shortlist candidates of your choice and schedule interviews with
                them in minutes!
              </div>
            </div>
          </div>
          <div class="box box-active">
            <img
              class="box__icon"
              alt="Third content"
              src="../../../assets/images/03.svg"
            />
            <div class="box__details">
              <h4 class="box__title">
                Hire the most qualified talents in the industry!
              </h4>
              <div class="box__content">
                Top-ranked candidates from across India at your fingertips!
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="text-center mt-8">
          <img src="../../../assets/images/hiring.svg" />
        </div>
      </div>
    </div>
  </div>
  <div id="futureSection" class="container mb-5">
    <div class="fold-5__box">
      <div class="fold-5__left">
        <div class="fold-5__left__container">
          <h3 class="fold-5__heading heading__secondary">
            Welcome to the Future of Attendance &amp; Payroll Management
          </h3>
          <div class="fold-5__sub-text heading__sub-text">
            <p>
              Experience how we transform Staff Attendance &amp; Payroll for
              business with a touch of a button.
            </p>
          </div>
          <button class="fold-5__button fold-5__cta" fdprocessedid="rfhr6l">
            Get Started
          </button>
        </div>
      </div>
      <div class="fold-5__right">
        <div class="fold-5__right__container">
          <img src="../../../assets/images/9.png" alt="Seekk" />
        </div>
      </div>
    </div>
  </div>
</div>
<app-landing-footer></app-landing-footer>
