<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Profile</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/jobs"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">Profile</li>
  </ul>
  <div class="section-body">
    <div class="row mt-sm-4">
      <div class="col-12 col-md-12 col-lg-8">
        <div class="card">
          <div class="padding-20">
            <div class="card-header">
              <h4>Edit Profile</h4>
            </div>
            <div class="card-body">
              <form class="validate-form" [formGroup]="profileForm">
                <div class="row">
                  <div class="form-group col-md-6 col-12">
                    <label>Company Name</label>
                    <input
                      type="text"
                      class="form-control"
                      readonly=""
                      value="{{ profileDetails?.company_name }}"
                    />
                  </div>
                  <div class="form-group col-md-6 col-12">
                    <label>Mobile</label>
                    <input
                      type="text"
                      class="form-control"
                      readonly=""
                      value="{{ profileDetails?.mobile }}"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-7 col-12">
                    <label>Email</label>
                    <input
                      type="email"
                      formControlName="email"
                      class="form-control"
                      value="{{ profileDetails?.email }}"
                    />
                    <div
                      *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                    >
                      <small
                        class="text-danger"
                        *ngIf="email?.errors?.['required']"
                      >
                        Email is required.
                      </small>
                      <small
                        class="text-danger"
                        *ngIf="email?.errors?.['email']"
                      >
                        Invalid email format.
                      </small>
                      <small
                        class="text-danger"
                        *ngIf="email?.errors?.['minlength']"
                      >
                        Email must be at least 5 characters long.
                      </small>
                    </div>
                  </div>

                  <div class="form-group col-md-5 col-12">
                    <label>GST</label>
                    <input
                      type="tel"
                      class="form-control"
                      value=""
                      formControlName="gst"
                    />
                    <div *ngIf="gst?.invalid && (gst?.dirty || gst?.touched)">
                      <small
                        class="text-danger"
                        *ngIf="gst?.errors?.['required']"
                      >
                        GST Number is required.
                      </small>
                      <small
                        class="text-danger"
                        *ngIf="gst?.errors?.['pattern']"
                      >
                        Invalid GST Number format.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-7 col-12">
                    <label>Website</label>
                    <input
                      type="email"
                      formControlName="website"
                      class="form-control"
                      value="{{ profileDetails?.website }}"
                    />
                  </div>
                  <div class="form-group col-md-5 col-12">
                    <label>No of Employees</label>
                    <input
                      type="tel"
                      class="form-control"
                      value="{{ profileDetails?.no_of_employees }}"
                      formControlName="no_of_employees"
                    />
                  </div>
                </div>
                <div class="card-footer text-end">
                  <button class="btn btn-primary" (click)="saveProfile()">
                    Save Changes
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
